name: lint
on: [push]
env:
  SQLALCHEMY_DATABASE_URL: sqlite:///./db.sqlite3
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip
      - run: pip install -r requirements.txt
      - run: pylint $(git ls-files '*.py')
      - run: flake8 $(git ls-files '*.py')
